# For full config options, check the docs:
#    docs.serverless.com

service: lambda-google-cloud-logging

provider:
  name: aws
  runtime: nodejs20.x
  region: us-west-2
  environment:
    GOOGLE_CLOUD_PROJECT_ID: scribeware5
    GOOGLE_CLOUD_LOG_NAME: lambda
    GOOGLE_APPLICATION_CREDENTIALS: ${ssm(raw):/prod/google-application-credentials}

functions:
  forwarder:
    handler: handler.log

resources:
  Resources:
    ForwarderLambdaPermission:
      Type: 'AWS::Lambda::Permission'
      Properties:
        Action: 'lambda:InvokeFunction'
        FunctionName:
          Fn::GetAtt: [ForwarderLambdaFunction, Arn]
        Principal: logs.${self:provider.region}.amazonaws.com
  Outputs:
    ForwarderLambdaArn:
      Value:
        Fn::GetAtt: [ForwarderLambdaFunction, Arn]
